/* Coolors Exported Palette - https://coolors.co/8789c0-45f0df-c2cae8-8380b6-111d4a */

/* CSS HEX */
--cool-gray: #8789c0ff;
--turquoise: #45f0dfff;
--periwinkle: #c2cae8ff;
--cool-gray-2: #8380b6ff;
--space-cadet: #111d4aff;

/* CSS HSL */
--cool-gray: hsla(238, 31%, 64%, 1);
--turquoise: hsla(174, 85%, 61%, 1);
--periwinkle: hsla(227, 45%, 84%, 1);
--cool-gray-2: hsla(243, 27%, 61%, 1);
--space-cadet: hsla(227, 63%, 18%, 1);

/* SCSS HEX */
$cool-gray: #8789c0ff;
$turquoise: #45f0dfff;
$periwinkle: #c2cae8ff;
$cool-gray-2: #8380b6ff;
$space-cadet: #111d4aff;

/* SCSS HSL */
$cool-gray: hsla(238, 31%, 64%, 1);
$turquoise: hsla(174, 85%, 61%, 1);
$periwinkle: hsla(227, 45%, 84%, 1);
$cool-gray-2: hsla(243, 27%, 61%, 1);
$space-cadet: hsla(227, 63%, 18%, 1);

/* SCSS RGB */
$cool-gray: rgba(135, 137, 192, 1);
$turquoise: rgba(69, 240, 223, 1);
$periwinkle: rgba(194, 202, 232, 1);
$cool-gray-2: rgba(131, 128, 182, 1);
$space-cadet: rgba(17, 29, 74, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-right: linear-gradient(90deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-bottom: linear-gradient(180deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-left: linear-gradient(270deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-top-right: linear-gradient(45deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-bottom-right: linear-gradient(135deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-top-left: linear-gradient(225deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-bottom-left: linear-gradient(315deg, #8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);
$gradient-radial: radial-gradient(#8789c0ff, #45f0dfff, #c2cae8ff, #8380b6ff, #111d4aff);